# dependencies
node_modules/

# env & secrets
.env
*.env
.env.*
aws-creds.sh

# os / editor junk
.DS_Store
.vscode/

# build / cache / logs
dist/
build/
coverage/
*.log

# local data
uploads/
outputs/
*.sqlite
*.dbaws-creds.sh
